.px-3{
     font-weight: bolder;
     font-size: 7rem;
     align-content: center;
}
.col-5{
    padding-left:40px ;
    font-size: 25px;
    
}

.sec-3{
    height: 37.5rem;
    background:  #f8263b;
    
}

.sub-sec-1{
    padding: 100px;
    padding-top: 150px;
}

.sec-4{
    background: rgb(226, 226, 226);
    height: 30rem;
    margin-top: 13rem;
}

.sec-4-btn{
    background-color: rgb(218, 25, 25);
    padding: 20px;
    height: px;
    width:170px ;
}