.px-3{
     font-weight: bolder;
     font-size: 7rem;
     align-content: center;
}
.col-5{
    padding-left:40px ;
    font-size: 25px;
    
}

.sec-3{
    height: 37.5rem;
    background:  #f8263b;
    
}

.sub-sec-1{
    padding: 100px;
    padding-top: 150px;
}

.sec-4{
    background: rgb(226, 226, 226);
    height: 30rem;
    margin: 13rem 0;
}

.sec-4-btn{
    background-color: rgb(218, 25, 25);
    padding: 20px;
    height: px;
    width:170px ;
}

.sec-last{
    width:30rem ;

}

.callBack{
    background-color: rgb(236, 16, 16);
    padding: 20px;
    color: aliceblue;
    font-weight: bold;
    width:18rem ;

}

.callBack:hover{
    background-color: rgb(18, 18, 78);
}