
#icon {
    width: 20rem;
    display: flex;
}

#con{
    background-color:#647589;

}

#links{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#link{
    color: rgb(35 36 38);
    text-decoration: none;
    font-size:1.1rem;
}
svg{
    color: aliceblue;
    margin-right: 12px;
    margin-bottom: 5px;
}

#call{
    background-color: rgb(218, 25, 25);
    padding: 30px;
    height: 100px;
    width:120px ;

   
}

#call:hover{
    transition: -1s;
    background-color: rgb(25, 25, 85);

}

.z-index-1{
    margin-top: -60px ;
}

.icon-logo{
    z-index: -1;
    margin-top:40px ;
}

.a-link{
    color: #666777;
    font-weight:500;
    position: relative;
}

.a-link:hover, .a-link:active{
    color:#000
}

.a-link::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: rgb(255, 30, 0);
    visibility: hidden;
    transition: 0.3s ease-in-out;
}

.a-link:hover::before{
    width: 100%;
    visibility: visible;

}


.read-link{
   position: relative;
   color: #000;
}



.read-link::before{
    content: "";
    position: absolute;
    display: block;
    width: 118px;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: red;
    
}
  .card:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
  }
